[data-anime] {
    opacity: 0;
    transition: 2s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime="down"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime="right-texture"] {
    opacity: 1;
    transition: 3s;
    transform: translate3d(200px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}